{% extends 'mobile/temple.html' %}

{% block content %}
<style>
    .baner {
        text-align: center;
        padding-top: 10px;
    }

    .columns {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }
</style>
{% load static %}

<div class="baner">
    <img src="{% static 'office/big_baner.png' %}">
</div>
<div class="columns">
    <div class="right_col">
        <div class="eat">
            <img src="{% static 'office/eat.png' %}">
        </div>
        <div class="bot">
            <a href='https://t.me/mtsbot_hackton_bot'><img src="{% static 'office/bot.png' %}"></a>
        </div>
    </div>
    <div class="left_col">
        <div class="dls">
            <img src="{% static 'office/dops.png' %}">
        </div>
        <div class="light">
            <p>Освещение</p>
            <div class="tools_light">
                <label id="switch_red" class="switch_red">
                    <input type="checkbox" id="slider_red">
                    <span class="slider_red round"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="tools_komfort">
    <div class="klimat">
        <div>
            <div class="image_contol">
                <img class="img_contol" src="{% static 'imageMts/градусник.svg' %}">
            </div>
            <p style="margin: 0;">Климат</p>
        </div>
        <label id="switch_red" class="switch_red">
            <input type="checkbox" id="slider_red">
            <span class="slider_red round"></span>
        </label>
    </div>
    <div class="klimat_contol">
        <label id="switch_yellow" class="switch_yellow">
            <input type="checkbox" id="slider_yellow">
            <span class="slider_yellow round"></span>
        </label>
    </div>
</div>
{% endblock %}