{% extends 'mobile/temple.html' %}

{% block content %}
<style>
    .baner {
        text-align: center;
        padding-top: 10px;
    }

    .columns {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
</style>
{% load static %}

<div class="baner">
    <img src="{% static 'office/big_baner.png' %}">
</div>
<div class="columns">
    <div class="right_col">
        <div class="eat">
            <img src="{% static 'office/eat.png' %}">
        </div>
        <div class="bot">
            <a href='https://t.me/mtsbot_hackton_bot'><img src="{% static 'office/bot.png' %}"></a>
        </div>
    </div>
    <div class="left_col">
        <div class="dls">
            <img src="{% static 'office/dops.png' %}">
        </div>
    </div>
</div>
{% endblock %}